@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: white;
  color-scheme: light;
}

@keyframes gradient {
  0% {
    color: #b1b1b1;
  }
  50% {
    color: #b1b1b1;
  }
  100% {
    color: #b1b1b1;
  }
}

@keyframes gradient-gray {
  0% {
    color: #696969;
  }
  50% {
    color: #696969;
  }
  100% {
    color: #696969;
  }
}

@keyframes gradient-black {
  0% {
    color: #000000;
  }
  50% {
    color: #000000;
  }
  100% {
    color: #000000;
  }
}

.animated-gradient-fast {
  animation: gradient 15s ease-in-out infinite;
}
.animated-gradient-normal{
  animation: gradient-gray 15s ease-in-out infinite;
}
.animated-gradient-slow {
  animation: gradient-black 15s ease-in-out infinite;
}
